@import "./variables.less";
@import "./mix-ins.less";

html, body {
    padding: 0;
    margin: 0;
    border: 0;
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: @yellow;
    font-family: @font;
    font-weight: @fontweight;
    font-size: @linkfontsize;
    padding: 1rem;
    ul {
        list-style: none;
    }
    li {
        display: inline;
        padding: 0 1.5rem;
    }
}

.hero img {
    background-color: @backgroundcolor;
    opacity: @backgroundopacity;
    width: 100%;
    height: auto;
    
}


