@import "./variables.less";
@import "./mix-ins.less";

html, body {
    .reset();
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: @yellow;
    font-family: @font;
    font-weight: @fontweight;
    font-size: @linkfontsize;
    padding: 1rem;
    ul {
        list-style: none;
    }
    li {
        display: inline;
        padding: 0 1.5rem;
    }
}

.hero img {
    opacity: @backgroundopacity;
    width: 64%;
    height: auto;
    position: absolute;
}

.logo {
    position: relative;
    max-width: fit-content;
    margin: 0 auto;
    img {
        padding: 2rem 0;
    }
    button {
       .buttons();
       display: block;
        margin: 0 auto;
    }
}

.menu {
    width: 75%;
    float: left;
    margin-bottom: 2rem;
    h2 {
        .h2();
        padding: 5rem 7rem 0;
    }
    p {
        .bodycopy();
        padding: 0 7rem;
    }
    button {
        .buttons ();
        margin: 0 7rem;
    }
}

.burger img {
    position: absolute;
    margin-top: 7rem;
}

.bob {
    clear: left;
    margin: 2rem 1rem 2rem 0;
    background-color: @backgroundcolor;
    img {
        padding: 2rem 0 0 7rem;
    }
}


.contact {
    width: 75%;
    float: right;
    h2 {
        .h2();
        padding: 2rem 1rem 0 7rem;
    }
    p {
        .bodycopy();
        padding: 0 1rem 0 7rem;
    }
    button {
        .buttons();
        margin: 0 1rem 0 7rem;
    }
    
}
