@import "./variables.less";
@import "./mix-ins.less";

html, body {
    .reset();
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: @yellow;
    font-family: @font;
    font-weight: @fontweight;
    font-size: @linkfontsize;
    padding: 1rem;
    ul {
        list-style: none;
    }
    li {
        display: inline;
        padding: 0 1.5rem;
    }
}

.hero {
    background-color: @backgroundhero;
    img {
        opacity: @backgroundopacity;    
        width: 64%;
        height: auto;
        position: absolute;
    }
}

.logo {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    height: auto;
    img {
        padding: 2rem 0;
    }
    button {
       .buttons();
       display: block;
        margin: 0 auto;
    }
}

.menu {
    width: 75%;
    float: left;
    margin-bottom: 2rem;
    h2 {
        .h2();
        padding: 5rem 7rem 0;
    }
    p {
        .bodycopy();
        padding: 0 7rem;
    }
    button {
        .buttons ();
        margin: 0 7rem;
    }
}

.burger img {
    position: absolute;
    margin-top: 7rem;
    max-width: 100%;
    height: auto;
}

.bob {
    clear: left;
    margin: 2rem 0 2rem 0;
    background-color: @backgroundcolor;
    img {
        padding: 2rem 0 0 7rem;
        max-width: 100%;
        height: auto;
    }
}


.contact {
    width: 75%;
    float: right;
    h2 {
        .h2();
        padding: 2rem 1rem 0 7rem;
    }
    p {
        .bodycopy();
        padding: 0 1rem 0 7rem;
    }
    button {
        .buttons();
        margin: 0 1rem 0 7rem;
    }
    
}

footer {
    background-color: @black;
    border-top: .5rem solid @yellow;
    img {
        display: flex;
        width: 25%;
        padding: 1rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .logo img {
        width: 50%;
        display: flex;
        margin: 0 auto;
    }

    .burger img {
        position: relative;
        max-width: 100%;
        height: auto;
        display: flex;
        margin: 0 auto;
    }
    .menu {
        float: none;
        width: 100%;
        h2,
        p {
            padding: 0;
        }
        button {
            margin: .5rem 0 1rem;
        }
    }

    .contact {
        float:none;
        width: 100%;
        h2, 
        p {
            padding: .5rem;
        }
        button {
            margin: .5rem 0 1rem .5rem;
        }
    }
    
}