.links {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: #050500;
    font-weight: 500;
    text-transform: uppercase;
}

.buttons {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: #050500;
    font-weight: 500;
    border-radius: .5rem;
}